.info-pendatang-table {
    width: 100%;
    border-collapse: collapse;
}
.info-pendatang-ticker-text {
    overflow: hidden;
    background-color: #00b306;
    padding: 2px 17px;
    border-radius: 23px;
    box-shadow: 3px 3px 7px #0000007a;
    margin: 10px 7px;
    position: relative;
    height: 30px;
}

.info-pendatang-ticker-text > a {
    color: white !important;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
}

.info-pendatang-ticker-text > a:hover {
    text-decoration: none;
}

#wp-admin-bar-info-pendatang-button .ab-item:before {
    content: "\f307";
    top: 2px;
}